@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  @apply bg-secondary;
}

.btn-primary {
  @apply px-4 py-2 bg-primary text-secondary rounded-full hover:scale-95 transition-all;
}

.btn-secondary {
  @apply px-4 py-2 bg-secondary text-primary rounded-full hover:scale-95 transition-all;
}

.testimonial {
  background: url('./assets/testimonial_background.png');
}
.second-testomial {
  background: url('./assets/second_testimonial.jpg');
  background-position: center;
  background-size: contain;
}
